@import '../variables';

.stat-wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.714;
  color: rgba($main-color, 0.8);
}

.stat-icon {
  width: 14px;
  height: 14px;
  opacity: 0.3;
  margin-right: 8px;
}

.edit-icon-wrapper {
  height: 26px;
  width: 26px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: $main-background-color;
  padding: 6px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.edit-icon {
  width: 14px;
  height: 14px;
  opacity: 0.5;
  margin: 6px;
}
