@import '../variables';

.location-card {
  width: 340px;
  height: 139px;
  padding: 15px 25px;
  margin-top: 22px;
  margin-right: 25px;
  border: 1px solid rgba($main-color, 0.1);
  border-radius: 2px;
  background-color: rgba($card-color, 0.2);
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $card-color;
  }
}

.card-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.778;
  color: rgba($main-color, 0.8);
}

.card-stats {
  margin-top: 5px;
}
