@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

$main-color: rgb(0, 17, 34);
$btn-color: rgb(55, 178, 77);
$main-font: 'Lato', 'Roboto', sans-serif;
$paragraph-size: 16px;
$header-size: 22px;
$main-background-color: rgb(255, 255, 255);
$card-color: rgb(246, 246, 246);
$navbar-bottom-color: rgb(238, 238, 238);
