@import './components/navbar';
@import './components/locationStatistics';
@import './components/locationCardsWrapper';
@import './components/locationCard';
@import './components/modal';
@import './components/notification';

@import './variables';
@import './mediaQueries';
@import './btn';

body {
  font-family: $main-font;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.box-sizing {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
